*{
    margin: 0%;
    padding: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
     background-image: linear-gradient(90deg, #fd2188 10%, #f00a0a 90%);
     height: 100vh;
     width: 100vw;
}
.main{
    background-color: white;
    width: 300px;
    text-align: center;
    margin:auto;
    margin-top: 150px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 0px 5px black;
}
.display{
    background-color: rgb(94, 200, 214);
    border-radius: 15px;
    border: 3px solid blue;
    width: 80%;
    margin: auto;
    padding: 5px;
    transition: 0.5s;
    font-size: 16px;
    text-shadow: 1px 1px 2px black;
}
.button1{
    font-size:30px;
    border: none;
      background-color:transparent;
      transition: transform 5s;
}
.button2{
    font-size:30px;
    border: none;
    background-color:transparent;
}
.btn{
    padding: 5px;
    font-size: 20px;
    border: gray solid 2px;
    border-radius: 30px;
      background-color:transparent;
}
.btn:hover{
    cursor: pointer;
    background-color: lightgray;
}
.bottom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    margin:20px 0px;
}
.left>h5{
    font-size:20px;
}
.lefth5{
    padding-left: 20px;
}
.righth5{
    padding-left: 100px;
}
.left{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin:20px 0px;
    color: grey;
    
}
.right{
    display: flex;
     justify-content: space-evenly;
    align-items: center;
     margin: 20px 0px;
     width: 100%;
     gap: 20px;
     color: gray;

}
h1{
    font-size: 20px;
    margin: 20px 0px;
}
.names{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 40px;
    justify-content: center;
}
@media screen and (max-width:350px) 
{
    .main{
        width: 250px
    }
}
@media screen and (max-width:300px) 
{
    .main{
        width: 200px
    }
    .left{
    display: flex;
    width: 200px;
    justify-content: space-evenly;
    align-items: center;
    color: grey;
    
}
.righth5{
    padding-left: 50px;
}
.bottom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    margin:10px 0px;
}
.names{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    justify-content: center;
}
}
